// General colors (placeholders from Visma. We had a lot of grey...)
$color-grey-light: #f7f7f7;
$color-grey-lightish: #e1e1e1;
$color-grey-light-lightish: #efefef;
$color-grey: #b3b3b3;
$color-grey-dark: #858585;
$color-grey-darker: #747678;
$color-green-light: #99cdc8;